# $Id: uopacket.cfg 375 2006-06-17 19:26:32Z austinheilman $
#
#
Packet 0xFB // Public House
{
  Length 2
  ReceiveFunction PublicHouse:HandlePublicHouse
}
Packet 0xC8 // View Range
{
  Length 2
  ReceiveFunction ViewRange:HandleViewRange

}